LIGHTSPEED_CLIENT_ID: {{ lightspeed_client_id }}
LIGHTSPEED_CLIENT_SECRET: {{ lightspeed_client_secret }}
LINUX_MCP_ALLOWED_LOG_PATHS: /var/log/messages,/var/log/lastlog
LITELLM_API_KEY: {{ litellm_virtual_key }}