LIGHTSPEED_CLIENT_ID: {{ mcp_host_lightspeed_client_id }}
LIGHTSPEED_CLIENT_SECRET: {{ mcp_host_lightspeed_client_secret }}
LINUX_MCP_ALLOWED_LOG_PATHS: /var/log/messages,/var/log/lastlog
LITELLM_API_KEY: {{ mcp_host_litellm_virtual_key }}